<!-- main app container -->


<!-- <app-parent></app-parent> -->

<!-- <app-courselist></app-courselist> -->
<!-- <app-shopkeeper></app-shopkeeper> -->


<!-- <app-login></app-login> -->

<!-- <app-registration-from></app-registration-from> -->
<app-cardlayout></app-cardlayout> 
<!-- <app-home></app-home>            -->


 <!-- <div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="home">Home</a>
            </li>
            <li>
                <a routerLink="createstudent">Create Student</a>
            </li>
        </ul>
    </nav>
</div>  -->

<!-- <router-outlet></router-outlet>  -->